.root {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 32px;
}
.freeBox__wi1M {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__wi1M > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__wi1M > :global(.__wab_flex-container) > *,
.freeBox__wi1M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wi1M > :global(.__wab_flex-container) > picture > img,
.freeBox__wi1M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__kxHdl {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__kxHdl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__kxHdl > :global(.__wab_flex-container) > *,
.freeBox__kxHdl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kxHdl > :global(.__wab_flex-container) > picture > img,
.freeBox__kxHdl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text {
  font-weight: 400;
  white-space: pre-wrap;
  color: #666666;
}
.freeBox__co4UX {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__c26Cz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__pkzx5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___1IZwt:global(.__wab_instance) {
  position: relative;
}
.svg__pkErJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gkEsv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__hH1F:global(.__wab_instance) {
  position: relative;
}
.svg__llxGd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__r1YoC {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___8YZs2:global(.__wab_instance) {
  position: relative;
}
.svg__vgyvr {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ueP7D {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
