.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navBar:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
  z-index: 99;
}
.section__edXb {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 128px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__edXb {
    padding-bottom: 0px;
  }
}
.img {
  position: absolute;
  width: 100%;
  opacity: 0.25;
  min-width: 0;
}
.container3 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container3 > :global(.__wab_flex-container) > *,
.container3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container3 > :global(.__wab_flex-container) > picture > img,
.container3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox___0Alvm {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___0Alvm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___0Alvm > :global(.__wab_flex-container) > *,
.freeBox___0Alvm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Alvm > :global(.__wab_flex-container) > picture > img,
.freeBox___0Alvm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__g2GqD {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__g2GqD > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__g2GqD > :global(.__wab_flex-container) > *,
.freeBox__g2GqD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g2GqD > :global(.__wab_flex-container) > picture > img,
.freeBox__g2GqD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 1.25;
  position: relative;
  text-align: center;
}
.text__u761Y {
  width: 100%;
  height: auto;
  text-align: center;
  color: #333333 /* plasmic-token: pRQL_QIJ9-M1 */;
  min-width: 0;
}
.button__riQcu:global(.__wab_instance) {
  position: relative;
}
.svg___1GzD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__q0SfB {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__tGuJy {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
  padding: 32px;
}
.container4 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox__iIaoM {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__dkoY9 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__quGc:global(.__wab_instance) {
  position: relative;
}
.svg__ffdLt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hyE1P {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container > :global(.__wab_flex-container) > picture > img,
.container
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
.productCard__m3DxQ:global(.__wab_instance) {
  position: relative;
}
.svg__g2Ibi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__x8YEk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__c46Bm {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
  height: auto;
}
.text__jl68S {
  width: 100%;
  height: auto;
  text-align: left;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  min-width: 0;
}
.rating__eRtlb:global(.__wab_instance) {
  position: relative;
}
.productCard__lNleK:global(.__wab_instance) {
  position: relative;
}
.svg__kgvCm {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___5BoR4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__xy2L {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___1P0Nx {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating__pv1H0:global(.__wab_instance) {
  position: relative;
}
.productCard__hk96:global(.__wab_instance) {
  position: relative;
}
.svg__huHg4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__f59Hp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__gMkHe {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__eEaE8 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating__hCm3Y:global(.__wab_instance) {
  position: relative;
}
.productCard__qOoWj:global(.__wab_instance) {
  position: relative;
}
.svg__nbyLb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__mZjLu {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___1YqUm {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__kWB {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating__tgQzY:global(.__wab_instance) {
  position: relative;
}
.productCard__iLnsE:global(.__wab_instance) {
  position: relative;
}
.svg__tJzrH {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wJzb4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__xzYeL {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__qoJar {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating__jmgh6:global(.__wab_instance) {
  position: relative;
}
.productCard__rcBgs:global(.__wab_instance) {
  position: relative;
}
.svg___1Ynw {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__iP6Dz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__jk7EJ {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__fAFvP {
  width: 100%;
  height: auto;
  text-align: left;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  min-width: 0;
}
.rating__aoKfT:global(.__wab_instance) {
  position: relative;
}
.section___25XZw {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(#000000d9, #000000d9),
    url("https://images.unsplash.com/photo-1612902376491-7a8a99b424e8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fHNob2VzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=60")
      left 50% top 50% / cover;
}
.freeBox__xyT2V {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 64px;
}
.freeBox__xyT2V > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__xyT2V > :global(.__wab_flex-container) > *,
.freeBox__xyT2V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xyT2V > :global(.__wab_flex-container) > picture > img,
.freeBox__xyT2V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xyT2V {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xyT2V > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xyT2V > :global(.__wab_flex-container) > *,
  .freeBox__xyT2V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xyT2V > :global(.__wab_flex-container) > picture > img,
  .freeBox__xyT2V
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__dBDqe {
  display: flex;
  flex-direction: column;
}
.freeBox__dBDqe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dBDqe > :global(.__wab_flex-container) > *,
.freeBox__dBDqe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dBDqe > :global(.__wab_flex-container) > picture > img,
.freeBox__dBDqe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___4CqEu {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___4CqEu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___4CqEu > :global(.__wab_flex-container) > *,
.freeBox___4CqEu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4CqEu > :global(.__wab_flex-container) > picture > img,
.freeBox___4CqEu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__zSv8X {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  color: #ffffff;
  text-align: center;
}
.text__gGhuE {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  white-space: pre-wrap;
  position: relative;
  color: #cccccc;
  height: auto;
  text-align: center;
}
.freeBox__iC3Qv {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__iC3Qv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__iC3Qv > :global(.__wab_flex-container) > *,
.freeBox__iC3Qv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iC3Qv > :global(.__wab_flex-container) > picture > img,
.freeBox__iC3Qv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iC3Qv {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iC3Qv > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iC3Qv > :global(.__wab_flex-container) > *,
  .freeBox__iC3Qv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__iC3Qv > :global(.__wab_flex-container) > picture > img,
  .freeBox__iC3Qv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text___5Zasu {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
  color: #cccccc;
  height: auto;
  white-space: pre-wrap;
  text-align: center;
}
.svg___9IPcZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___4LQIy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.emojiValueProps:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.columns {
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 1024px;
  min-width: 0;
  padding: 32px;
}
.columns > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-wrap: nowrap;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 12px;
  }
}
.column__g2533 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__zdNaC:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__iTFfZ {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__ebNhy {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__ndrLk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__eoxhX:global(.__wab_instance) {
  position: relative;
}
.svg___9JU3D {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vl4I5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__laZcm {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__zZXp:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text__oCcA {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text___8SSjc {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__b1SvM {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__iMJuc:global(.__wab_instance) {
  position: relative;
}
.svg__gSntl {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v0Hl {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column___4EzQf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.value__cab6N:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__cab6N:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__piAN {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  color: #ffffff;
  width: 100%;
  min-width: 0;
}
.text__ymvNe {
  color: #cccccc;
  width: 100%;
  min-width: 0;
}
.svg__gsX30 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__leQnu:global(.__wab_instance) {
  position: relative;
}
.svg__ypVof {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__aOOtw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__mKmN {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 32px;
  padding-top: 32px;
  position: relative;
  background: #f2f2f7;
}
.container42 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  flex-column-gap: 0px;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
  padding: 0px 32px;
}
.freeBox___1SvnR {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.text__cvaCn {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  position: relative;
  left: auto;
  top: auto;
  height: auto;
}
.button__kfpH:global(.__wab_instance) {
  position: relative;
}
.svg__ylhSh {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__n5K1M {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.container5 {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  align-items: center;
  min-width: 0;
}
.freeBox__mym6F {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 32px;
}
.freeBox__mym6F > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__mym6F > :global(.__wab_flex-container) > *,
.freeBox__mym6F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mym6F > :global(.__wab_flex-container) > picture > img,
.freeBox__mym6F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.svg__cjeeC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qGpp7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__oD7Ij {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__tjRYe {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating__mfSlR:global(.__wab_instance) {
  position: relative;
}
.productCard___5W7Xh:global(.__wab_instance) {
  position: relative;
}
.svg__vNrt {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__agm0B {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__xrNx {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___7DqA {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating__bXfx9:global(.__wab_instance) {
  position: relative;
}
.productCard__hW0R:global(.__wab_instance) {
  position: relative;
}
.svg__n3Dfq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0Tmru {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__rJw2E {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___1EhTc {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating___1QVpb:global(.__wab_instance) {
  position: relative;
}
.productCard__wc2Pl:global(.__wab_instance) {
  position: relative;
}
.svg__wk8Lp {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__kYIv {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___94OOg {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__l3EG {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating___1U0Vb:global(.__wab_instance) {
  position: relative;
}
.productCard___1NS2M:global(.__wab_instance) {
  position: relative;
}
.svg__eH5IR {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__hk6Eo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__yg7W8 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__araLk {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating__iUpG:global(.__wab_instance) {
  position: relative;
}
.productCard__fwt3:global(.__wab_instance) {
  position: relative;
}
.svg__jcgO {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__woxpk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ygIx4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__fiCl {
  width: 100%;
  height: auto;
  text-align: left;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  min-width: 0;
}
.rating__vNeZu:global(.__wab_instance) {
  position: relative;
}
.section__vkYDs {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container6 {
  max-width: 1366px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container6 > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container6 > :global(.__wab_flex-container) > *,
.container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container6 > :global(.__wab_flex-container) > picture > img,
.container6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container6 > :global(.__wab_flex-container) > *,
  .container6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container6 > :global(.__wab_flex-container) > picture > img,
  .container6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__vgtFg {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__vgtFg > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__vgtFg > :global(.__wab_flex-container) > *,
.freeBox__vgtFg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vgtFg > :global(.__wab_flex-container) > picture > img,
.freeBox__vgtFg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.text___2VeMi {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  left: auto;
  top: auto;
  padding: 8px 12px;
}
.button__fJs7L:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg___3KgFu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__eCchi {
  height: auto;
}
.svg__bCgx3 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___4HYqr:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__fCn8W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___8Ab2X {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__iYth2:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__oyeZk {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qluVh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___8P4Nt:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__dHzQq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___77O9P {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__jq5Nk:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__gnUdc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7DAkI {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__msy7J:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  width: 100%;
  min-width: 0;
}
.svg__zzOf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__x9SEb {
  height: auto;
}
.svg__z7Dei {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__kMSy {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__kMSy > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kMSy > :global(.__wab_flex-container) > *,
.freeBox__kMSy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kMSy > :global(.__wab_flex-container) > picture > img,
.freeBox__kMSy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kMSy > :global(.__wab_flex-container) {
    justify-content: center;
  }
}
.productCard__zFjay:global(.__wab_instance) {
  position: relative;
}
.svg__lABkT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__rgKrK {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__bt3Of {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___8CY5Q {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating___7ReIy:global(.__wab_instance) {
  position: relative;
}
.productCard__aA3TT:global(.__wab_instance) {
  position: relative;
}
.svg__d2LYd {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bKtL8 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text___5BcQm {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text___4H1V3 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating__mSq1F:global(.__wab_instance) {
  position: relative;
}
.productCard__hjkkb:global(.__wab_instance) {
  position: relative;
}
.svg__wgDqD {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0HZgW {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__z0Jdd {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__gzIyh {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating__pBlZp:global(.__wab_instance) {
  position: relative;
}
.productCard__hKeOr:global(.__wab_instance) {
  position: relative;
}
.svg__iiXz {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__nyDzt {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__vHEaV {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__izSiH {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating__czlaP:global(.__wab_instance) {
  position: relative;
}
.productCard__hOxnS:global(.__wab_instance) {
  position: relative;
}
.svg__hrJ0A {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ej9SZ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__zlvr1 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__zkzGp {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating__cyHn2:global(.__wab_instance) {
  position: relative;
}
.productCard__axYgH:global(.__wab_instance) {
  position: relative;
}
.svg__tyGtj {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2RwUp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__pafpt {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__tj3F0 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating__iHurj:global(.__wab_instance) {
  position: relative;
}
.productCard__tkJnS:global(.__wab_instance) {
  position: relative;
}
.svg__svguP {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__t5Cf {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__ga4Vj {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__qa9Yy {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating__ms8LC:global(.__wab_instance) {
  position: relative;
}
.productCard__lKwKy:global(.__wab_instance) {
  position: relative;
}
.svg__jZxT {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__vbdsT {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__i4GEw {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__rDcsR {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating__y4T0W:global(.__wab_instance) {
  position: relative;
}
.productCard__v3H4K:global(.__wab_instance) {
  position: relative;
}
.svg__smtlB {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ebtVg {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__sNmrk {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__ouKpH {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating__rM5Y:global(.__wab_instance) {
  position: relative;
}
.productCard__kczi2:global(.__wab_instance) {
  position: relative;
}
.svg__zrH5W {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__h7G07 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__jP5I6 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__jnLbx {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating___9Sqm:global(.__wab_instance) {
  position: relative;
}
.productCard__lFpLt:global(.__wab_instance) {
  position: relative;
}
.svg__uzn0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ggFsy {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__gtLpb {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__d4Yu {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating___8KQ:global(.__wab_instance) {
  position: relative;
}
.productCard__m1JJm:global(.__wab_instance) {
  position: relative;
}
.svg__tkzLb {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__bqxwC {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__snCO {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  white-space: pre;
  color: #333333;
  text-align: left;
  text-overflow: ellipsis !important;
  overflow: hidden;
}
.text__odNh1 {
  width: 100%;
  height: auto;
  color: #666666 /* plasmic-token: M5BeZhQF5Umz */;
  text-align: left;
  min-width: 0;
}
.rating__vkukc:global(.__wab_instance) {
  position: relative;
}
.section__vb4Wa {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#00000080, #00000080),
    url("https://images.unsplash.com/photo-1552346154-21d32810aba3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80")
      left 50% top 50% / cover;
}
.container434 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.container434 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container434 > :global(.__wab_flex-container) > *,
.container434 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container434 > :global(.__wab_flex-container) > picture > img,
.container434
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.value__x4Wit:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.text___8A270 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  width: 100%;
  height: auto;
  color: #ffffff;
  min-width: 0;
}
.text__muwPk {
  color: #cccccc;
  width: 100%;
  height: auto;
  min-width: 0;
}
.svg___3243T {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #ffffff;
  min-width: 0;
  min-height: 0;
}
.button__tfiXc:global(.__wab_instance) {
  position: relative;
}
.svg__pZfC {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__t9Rkj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.section__zuK2V {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f2f2f7;
}
.container433 {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.container433 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 32px) * 3 / 12);
}
.container433 > :global(.__wab_flex-container) > *,
.container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.container433 > :global(.__wab_flex-container) > picture > img,
.container433
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .container433 > :global(.__wab_flex-container) > *,
  .container433 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .container433 > :global(.__wab_flex-container) > picture > img,
  .container433
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__qcxH0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.value__fE9Fn:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__fE9Fn:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text___1Lt1K {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__xbV12 {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button__juCi:global(.__wab_instance) {
  position: relative;
}
.svg__vzxsf {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___0C3Ys {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___2Efsc {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__z3LSr:global(.__wab_instance) {
  position: relative;
}
.svg__ern7P {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__wCe2L {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__syzHc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.value__dck8X:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__dck8X:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__z4IaR {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__htlBo {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button___51FfN:global(.__wab_instance) {
  position: relative;
}
.svg__dI5Q {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xayez {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__vrCu3 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button___4QAtE:global(.__wab_instance) {
  position: relative;
}
.svg__i6LoV {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__oiWit {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__qOkVc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.value__flNit:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__flNit:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__dWhc {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__mYcvE {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button___5E47C:global(.__wab_instance) {
  position: relative;
}
.svg___3Hq01 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___7UfGk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__t1Vut {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button___9UrpB:global(.__wab_instance) {
  position: relative;
}
.svg__syDZ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v11BR {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__zZw3F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.value__g13:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .value__g13:global(.__wab_instance) {
    left: auto;
    top: auto;
  }
}
.text__aZQpj {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre-wrap;
  width: 100%;
  min-width: 0;
}
.text__njGMh {
  width: 100%;
  color: #666666;
  height: auto;
  min-width: 0;
}
.button___0Hfuq:global(.__wab_instance) {
  position: relative;
}
.svg__qXpq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___2Cfqq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__zcUaS {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.button__qm0FU:global(.__wab_instance) {
  position: relative;
}
.svg__dWt4T {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___6V5ZB {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.footer:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
