.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 32px;
  border-top: 1px solid #e5e5ea;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__ddoxv {
  max-width: 1024px;
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.freeBox__ddoxv > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__ddoxv > :global(.__wab_flex-container) > *,
.freeBox__ddoxv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ddoxv > :global(.__wab_flex-container) > picture > img,
.freeBox__ddoxv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ddoxv {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ddoxv > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ddoxv > :global(.__wab_flex-container) > *,
  .freeBox__ddoxv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ddoxv > :global(.__wab_flex-container) > picture > img,
  .freeBox__ddoxv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__fhVPf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__fhVPf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__fhVPf > :global(.__wab_flex-container) > *,
.freeBox__fhVPf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fhVPf > :global(.__wab_flex-container) > picture > img,
.freeBox__fhVPf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__kdE9R {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
}
.text__trcI4 {
  height: auto;
  width: 100%;
  white-space: pre-wrap;
  min-width: 0;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg___06F0T {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__am8A {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__rXqQk:global(.__wab_instance) {
  position: relative;
}
.svg___8PsJu {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__v7Fd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__pgykB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__pgykB > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__pgykB > :global(.__wab_flex-container) > *,
.freeBox__pgykB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pgykB > :global(.__wab_flex-container) > picture > img,
.freeBox__pgykB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___2JkXo {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__ePt1U {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ePt1U > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__ePt1U > :global(.__wab_flex-container) > *,
.freeBox__ePt1U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ePt1U > :global(.__wab_flex-container) > picture > img,
.freeBox__ePt1U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__uZJzQ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.svg__mXvHz {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___8VnRg:global(.__wab_instance) {
  position: relative;
}
.svg___5WaSi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__dYh4O {
  height: auto;
}
.svg__uQ8XC {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__vaqVn:global(.__wab_instance) {
  position: relative;
}
.svg__qenr5 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  color: #666666;
  min-width: 0;
  min-height: 0;
}
.text__zdb38 {
  height: auto;
}
.svg__hAaRh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__tl5Ll {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__tl5Ll > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__tl5Ll > :global(.__wab_flex-container) > *,
.freeBox__tl5Ll > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tl5Ll > :global(.__wab_flex-container) > picture > img,
.freeBox__tl5Ll
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__fy9Ve {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  white-space: pre;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.freeBox__q65Z5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__zWiCc {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__zWiCc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__zWiCc > :global(.__wab_flex-container) > *,
.freeBox__zWiCc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zWiCc > :global(.__wab_flex-container) > picture > img,
.freeBox__zWiCc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.svg__pflFq {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___126Tk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__ugn5E:global(.__wab_instance) {
  position: relative;
}
.svg__mBuHi {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__uewXq {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__yp9S:global(.__wab_instance) {
  position: relative;
}
.svg___3IkDo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg___1VHLd {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__zSi92:global(.__wab_instance) {
  position: relative;
}
.svg__cJtG0 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__xgvbO {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___4EAym {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox___4EAym > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___4EAym > :global(.__wab_flex-container) > *,
.freeBox___4EAym > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4EAym > :global(.__wab_flex-container) > picture > img,
.freeBox___4EAym
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.button__ybro:global(.__wab_instance) {
  position: relative;
}
.svg__gZn8J {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__gxx1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__aLwF:global(.__wab_instance) {
  position: relative;
}
.svg__hX0ZJ {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__qHwTw {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__iQmJg:global(.__wab_instance) {
  position: relative;
}
.svg__fe3Ko {
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.svg__ebvjx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.copyrightSocialLanguage:global(.__wab_instance) {
  position: relative;
}
